@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=VT323&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  overflow: hidden;
  height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 100vh;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8)
}

p {
  margin: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}


a {
  font-style: none;
  text-decoration: none;
  color: inherit
}


.title {
  font-family: 'VT323';
  font-size: 1.8rem;
}

.body {
  font-family: 'SUSE Mono', monospace;
  font-size: 1rem;
}

.location span {
  font-size: 0.8rem;
  font-style: italic;
}

.name {
  font-family: 'Press Start 2P', 'VT323', monospace;
  font-size: 2.7rem;
  font-weight: bold;
  margin: 20px
}

.icon {
  width: 20px;
  margin-right: 1rem;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 4px dashed #000;
  padding: 1.5rem;
  background-color: #e4e4e4;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.cake-container {
  position: relative;
  margin-top: 2rem
}
.cake-container img {
  margin: auto;
  left: 0;
  right: 0
}
.cake-container .cake {
  position: relative;
  margin: auto
}

.cake-container .flame {
  position: absolute;
  margin: auto;
  top: -7px;
  z-index: 1;
  width: 80px;
  animation: flicker 1s infinite;
  -webkit-animation: flicker 1s infinite;
  -moz-animation: flicker 1s infinite;
}

.bday-boy {
  z-index: -1;
}
.bday-boy img{
  width: 50%;
  max-width: 230px;
  margin-bottom: -4px;
}


/* flame flicker animation */
@keyframes flicker {
  0%, 100% { opacity: 1; transform: scale(1.1); }
  50% { opacity: 0.3; transform: scale(1); }
}
/* chrome */
@-webkit-keyframes flicker {
  0%, 100% { opacity: 1; transform: scale(1.1); }
  50% { opacity: 0.3; transform: scale(1); }
}
/* safari */
@-moz-keyframes flicker {
  0%, 100% { opacity: 1; transform: scale(1.1); }
  50% { opacity: 0.3; transform: scale(1); }
}